<header class="fixed skin-6" id="top-nav"> 
    <!-- Loading site brand name -->
    <a href="#" class="brand" id="siteBrand">Analytics Dashboard</a> <!-- Site brand ends here -->
    <!-- Loading navigation fixed menu -->
    <div class="fixed-menu" id="fixedTopMenu">
        <!-- Side menu toggle1 -->
        <button type="button" mobile-menu-directive class="navbar-toggle pull-left hide-menu" id="menuToggle1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> <!-- side menu toggle1 ends here -->
        <!-- Side menu toggle2 -->
        <button type="button" toggle-menu-directive class="navbar-toggle pull-left show-menu" id="menuToggle2">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> <!-- side menu toggle2 ends here -->              
        <a data-ng-click="logoutConfirm()" class="pull-right top-a"><i class="fa fa-lock"></i> Logout</a>
    </div> <!-- Navigation fixed menu ends here -->
</header>