<div>
    <!-- Breadcumb starts here -->
    <dashboard-breadcumb data-breadcumb="Visitor list"></dashboard-breadcumb>
    <!-- Breadcumb ends here -->
    <!-- Dashboard header starts here -->
    <dashboard-title data-mytitle="Visitor list"></dashboard-title>
    <!-- Dashboard ends here -->
    <!-- Graphs content starts here -->
    <div class="graph-wrapper graph-wrapper-white" data-ng-controller="LiveVisitorController">
    	<div class="dynamictable"> <!-- division of table starts here-->
        <p class="heading">ActiveVisitors</p>
        <table class="table table-striped  wrapper">
        <tr class="info">
            <th>SocketID</th>
            <th>Browser</th>
            <th>OS</th>
            <th>Location</th>
            <th>Pages</th>
        </tr>
          <tr ng-repeat="visitor in liveVisitor" data-toggle="modal" data-target="#visitorModal" ng-click="showDetails(visitor)" ng-class="{selected: $index === selectedRow}" ng-class="{warning: $even + 1}">
            <td>#{{ visitor.socketId }}</td>
            <td><span class="bg-icon" data-ng-style="getBrowser(visitor.browser.name)"></span></td>
            <td><span class="os-icon" data-ng-style="getOs(visitor.platform.os)"></span></td>
            <td><span class="flag-icon" data-ng-style="getFlag(visitor.locaton.city)"></span></td>
            <td><span class="badge bg-danger bounceIn animation-delay6">{{ visitor.pages.length }}</span> <span data-ng-repeat="item in visitor.pages"><span data-ng-if="$last">{{ item }}</span></span></td>
          </tr>
        </table>
    </div> <!-- division of table ends here-->
    <div id="details">
    <!--modal display-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="visitorModal">
      <div class="modal-dialog modal-lg chatbox-lg">
        <div class="modal-content">
          <div class="modal-header chatbox-header">
            <h4 class="modal-title">
              <span class="user-avatar"><img src="/modules/visitorlist/images/avatar.png" alt="avatar-icon" /></span>
              <span>VISITOR 479763</span>
              <span class="pull-right chatbox-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></span>
            </h4>
          </div>
          <div class="modal-body chatbox-body">
            <div class="row chatbox-row">
              <div class="col-md-8 chatbox-area">
                <!-- Chat messages list displayed here -->
                <div class="chat-messages">
                  <div class="message" ng-repeat="message in messages">
                    <div class="chat chat-left">
                      <div class="bubble bubble1">
                        {{ message.message }}
                      </div>
                      <span class="triangle triangle-blue"></span>
                    </div>
                  </div>
                  <!--<div class="message">
                    <div class="chat chat-right">
                      <div class="bubble bubble2">
                        hiiii
                      </div>
                      <span class="triangle triangle-yellow"></span>
                    </div>  
                  </div>-->
                </div>
                <div class="chat-box">
                  <textarea data-ng-model="message" enter-submit></textarea>
                  <span class="chat-info">Please enter some text to submit</span>
                </div>
              </div>
              <div class="col-md-4 chatbox-aside">
                <!-- Visitor path starts here -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Visitor Path
                  </div>
                  <div class="panel-body">
                    <ul class="visitor-list">
                      <li data-ng-repeat="page in visitorPages">{{ page }}</li>
                    </ul>
                  </div>
                </div> <!-- Visitor path ends here -->
                <!-- Client details starts here -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Visitor Path
                  </div>
                  <div class="panel-body">
                  Basic panel starts here
                  </div>
                </div>  <!-- Client details ends here -->           
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
